.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  form {
    display: flex;
    flex-direction: column;
    width: 400px;
    .MuiInput-root {
      margin-bottom: 30px !important;
    }
    button {
      margin-top: 10px;
    }
  }
}
